.result-container #result_app .player-stat-panel{
    display: flex;
    flex-direction: row;
}

.result-container #result_app .player-stat-panel .player-stat-panel-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



.result-container #result_app .player-stat-panel .player-stat-panel-col-rate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--c_slightlightcoding);
}
